USE [master]
GO
/****** Object:  Database [DB_il_ilceSecimi]    Script Date: 20.06.2025 04:19:12 ******/
CREATE DATABASE [DB_il_ilceSecimi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_il_ilceSecimi', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_il_ilceSecimi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_il_ilceSecimi_log', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_il_ilceSecimi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_il_ilceSecimi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_il_ilceSecimi]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 20.06.2025 04:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[ilceID] [int] IDENTITY(1,1) NOT NULL,
	[ilID] [nvarchar](2) NULL,
	[ilceAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ilceler] PRIMARY KEY CLUSTERED 
(
	[ilceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 20.06.2025 04:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[ilID] [int] IDENTITY(1,1) NOT NULL,
	[ilKodu] [char](2) NULL,
	[ilAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Iller] PRIMARY KEY CLUSTERED 
(
	[ilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ilceler] ON 

INSERT [dbo].[Ilceler] ([ilceID], [ilID], [ilceAdi]) VALUES (1, N'01', N'Aladağ')
INSERT [dbo].[Ilceler] ([ilceID], [ilID], [ilceAdi]) VALUES (2, N'01', N'Ceyhan')
INSERT [dbo].[Ilceler] ([ilceID], [ilID], [ilceAdi]) VALUES (3, N'01', N'Çukurova')
GO
SET IDENTITY_INSERT [dbo].[Ilceler] OFF
GO
SET IDENTITY_INSERT [dbo].[Iller] ON 

INSERT [dbo].[Iller] ([ilID], [ilKodu], [ilAdi]) VALUES (1, N'01', N'Adana')
INSERT [dbo].[Iller] ([ilID], [ilKodu], [ilAdi]) VALUES (2, N'02', N'Adıyaman')
INSERT [dbo].[Iller] ([ilID], [ilKodu], [ilAdi]) VALUES (3, N'03', N'Afyonkarahisar')
SET IDENTITY_INSERT [dbo].[Iller] OFF
GO
USE [master]
GO
